[submodule "MongoDbLoader"]
	path = MongoDbLoader
	url = https://github.com/farovictor/MongoDbLoader.git
[submodule "MongoDbExtractor"]
	path = MongoDbExtractor
	url = https://github.com/farovictor/MongoDbExtractor.git
